@import "tailwindcss";

@font-face {
  font-family: "hn";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/HelveticaNowDisplay-Regular.woff2") format("woff2");
}

@theme {
  --font-sans: "hn", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* loader bg */
  --color-loader-bg: #101010;
  --color-bg-counter: #969696;

  --color-white: #ffffff;
  --color-custom: #969696;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.loader {
  @apply fixed h-full w-full flex items-center justify-center z-50
}

.project-card-select {
  @apply h-[85px] w-[145px] cursor-pointer
}

.project-card-select.is-selected{
  background-color: none;
}

.home-project-title {
  @apply flex items-center justify-between w-screen absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 h-auto z-2 pl-[2%] pr-[2%];
}

.hovered {
  @apply scale-105 shadow-xl shadow-gray-500/40 transition-all;
}

.not-hovered {
  @apply opacity-50 blur-[1px];
}

.hamburger-line-one-true, .hamburger-line-two-true {
  transition: .5 ease-in-out;
  top: 50%;
}




